{
  "extends": ["next/core-web-vitals", "google", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "require-jsdoc": "off",
    "no-unused-vars": "warn",
    "no-console": "warn"
  }
}
