@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;

html,
body {
  @apply font-poppins;
}

@tailwind components;
@tailwind utilities;

.bg-grad-orange {
  background: linear-gradient(90deg, #ffb640 0%, #ff9d00 102.77%);
}

.bg-grad-green {
  background: linear-gradient(270deg, #129aa3 0%, #1bd5e1 100%);
}

.h-screen-no-header {
  height: calc(100vh - 56px);
}
